html {
  overflow-y: auto;

  .bg-success {
    color: white !important;
  }

  .bg-primary {
    color: white !important;
  }

  .bg-secondary {
    color: white !important;
  }

  .bg-warning {
    color: white !important;
  }
}

.border,
.v-divider {
  border-color: rgba(var(--v-border-color), 1) !important;
}

dl dt {
  font-weight: 700;
  margin-bottom: 0.2rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}