@import "tailwindcss" source(none);
@source "../layouts";
@source "../pages";
@source "../components";
@theme { --font-sans: "Nunito", "sans-serif"; }
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
}
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
}
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: oklch(41.3% 0.1495 7.65);
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: oklch(41.3% 0.1495 7.65);
}
